In [43]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_excel("data_with_xray_type.xlsx")

In [3]:
df.head()

,id,username,status,assigned_to,created_on,created_on_ist,created_on_day,created_on_month,created_on_year,created_on_converted_to_minutes,...,updated_by,deleted_by,group_id,image_type,shoot_id,rejected_by,ras_count,reporting_extended,reporting_time_limit,xray_type
0,57703,Drone_1,processed,Dr_Ravi_Chavan,2020-08-03 08:54:23,2020-08-03 14:24:23,Monday,August,2020,864,...,Dr_Ravi_Chavan,NaN,45011,xray,0,None,1,0,2020-08-03 10:01:31,Chest PA
1,57608,Gayatri_1,viewed,Dr_Ravi_Chavan,2020-08-03 07:21:04,2020-08-03 12:51:04,Monday,August,2020,771,...,Gayatri_1,NaN,44901,xray,0,None,1,0,2020-08-03 07:57:16,Chest PA
2,57614,Gayatri_1,viewed,Dr_Ravi_Chavan,2020-08-03 07:25:29,2020-08-03 12:55:29,Monday,August,2020,775,...,Gayatri_1,NaN,44907,xray,0,None,1,0,2020-08-03 09:46:14,Chest PA
3,57657,Gayatri_1,viewed,Dr_Ravi_Chavan,2020-08-03 07:40:10,2020-08-03 13:10:10,Monday,August,2020,790,...,Gayatri_1,NaN,44956,xray,0,None,1,0,2020-08-03 08:25:49,Chest PA
4,57714,GMC_1,viewed,Dr_Ravi_Chavan,2020-08-03 08:52:00,2020-08-03 14:22:00,Monday,August,2020,862,...,GMC_1,NaN,45004,xray,0,None,1,0,2020-08-03 10:01:31,Chest PA

In [4]:
df.columns

Index(['id', 'username', 'status', 'assigned_to', 'created_on',
       'created_on_ist', 'created_on_day', 'created_on_month',
       'created_on_year', 'created_on_converted_to_minutes', 'time_elapsed',
       'time_elapsed_hrs', 'time_elapsed_minutes',
       'total_time_elapsed_in_minutes', 'updated_on', 'updated_on_ist',
       'updated_by', 'deleted_by', 'group_id', 'image_type', 'shoot_id',
       'rejected_by', 'ras_count', 'reporting_extended',
       'reporting_time_limit', 'xray_type'],
      dtype='object')

In [7]:
final_df = df[['created_on_day','created_on_month','created_on_year','created_on_converted_to_minutes','xray_type','total_time_elapsed_in_minutes']]

In [8]:
final_df.describe()

,created_on_year,created_on_converted_to_minutes,total_time_elapsed_in_minutes
count,40125.000000,40125.000000,40125.000000
mean,2019.878579,882.009969,116.048972
std,0.326619,220.149458,477.172418
min,2019.000000,0.000000,0.000000
25%,2020.000000,740.000000,19.000000
50%,2020.000000,851.000000,56.000000
75%,2020.000000,1017.000000,116.000000
max,2020.000000,1439.000000,40737.000000

In [10]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40125 entries, 0 to 40124
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   created_on_day                   40125 non-null  object
 1   created_on_month                 40125 non-null  object
 2   created_on_year                  40125 non-null  int64
 3   created_on_converted_to_minutes  40125 non-null  int64
 4   xray_type                        40125 non-null  object
 5   total_time_elapsed_in_minutes    40125 non-null  int64
dtypes: int64(3), object(3)
memory usage: 1.8+ MB

In [27]:
final_df.xray_type.value_counts().reset_index().rename(columns={'index':'xray_type', 'xray_type':'count'})

         xray_type  count
0         Chest PA  20387
1            Chest   5549
2         Chest AP   3288
3         Spine LS   1596
4   Spine Cervical    761
..             ...    ...
73   Forearms Both      2
74       Arms Both      2
75     Elbows Both      2
76     Thighs Both      1
77            Hand      1

[78 rows x 2 columns]

In [32]:
len(final_df.xray_type.unique())

78

In [49]:
merged_days = pd.concat([final_df,pd.get_dummies(final_df.created_on_day)],axis='columns')
merged_days.head()

,created_on_day,created_on_month,created_on_year,created_on_converted_to_minutes,xray_type,total_time_elapsed_in_minutes,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,Monday,August,2020,864,Chest PA,37,0,1,0,0,0,0,0
1,Monday,August,2020,771,Chest PA,5,0,1,0,0,0,0,0
2,Monday,August,2020,775,Chest PA,112,0,1,0,0,0,0,0
3,Monday,August,2020,790,Chest PA,16,0,1,0,0,0,0,0
4,Monday,August,2020,862,Chest PA,40,0,1,0,0,0,0,0

In [53]:
merged_years = pd.concat([merged_days,pd.get_dummies(final_df.created_on_month)],axis='columns')
merged_years.head()

,created_on_day,created_on_month,created_on_year,created_on_converted_to_minutes,xray_type,total_time_elapsed_in_minutes,Friday,Monday,Saturday,Sunday,...,December,February,January,July,June,March,May,November,October,September
0,Monday,August,2020,864,Chest PA,37,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Monday,August,2020,771,Chest PA,5,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Monday,August,2020,775,Chest PA,112,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Monday,August,2020,790,Chest PA,16,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Monday,August,2020,862,Chest PA,40,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
fnl = pd.concat([merged_years,pd.get_dummies(final_df.xray_type)],axis = 'columns')
fnl.head()

,created_on_day,created_on_month,created_on_year,created_on_converted_to_minutes,xray_type,total_time_elapsed_in_minutes,Friday,Monday,Saturday,Sunday,...,Spine Dorso-Lumbar,Spine LS,TM Joint Left,TM Joint Right,Thigh Left,Thigh Right,Thighs Both,Wrist Left,Wrist Right,Wrists Both
0,Monday,August,2020,864,Chest PA,37,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Monday,August,2020,771,Chest PA,5,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Monday,August,2020,775,Chest PA,112,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Monday,August,2020,790,Chest PA,16,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Monday,August,2020,862,Chest PA,40,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
for i in fnl.columns:
    print(i)

created_on_day
created_on_month
created_on_year
created_on_converted_to_minutes
xray_type
total_time_elapsed_in_minutes
Friday
Monday
Saturday
Sunday
Thursday
Tuesday
Wednesday
April
August
December
February
January
July
June
March
May
November
October
September
Abdomen
Adenoid
Ankle Left
Ankle Right
Ankles Both
Arm Left
Arm Right
Arms Both
Barium
Chest
Chest AP
Chest Lateral
Chest Left
Chest PA
Chest Right
DRU
Elbow Left
Elbow Right
Elbows Both
Feet Both
Foot Left
Foot Right
Forearm Left
Forearm Right
Forearms Both
Fracture
HSG
Hand
Hand Left
Hand Right
Hands Both
Heel Left
Heel Right
Heels Both
Hip Left
Hip Right
Hips Both
IVP
Knee Left
Knee Right
Knees Both
Kub
Leg Left
Leg Right
Legs Both
Mandible Left
Mandible Right
Mandibles Both
Mastoid Left
Mastoid Right
Mastoids Both
Nasal Bones
Neck
PBH / Hip
PBH / Hip Left
PBH / Hip Right
PBH / Hips Both
Paranasal
Sacroiliac Both
Sacroiliac Left
Sacroiliac Right
Shoulder Left
Shoulder Right
Shoulders Both
Skull
Spine
Spine Cervical
Spine Dorsal
Spine Dorso-Lumbar
Spine LS
TM Joint Left
TM Joint Right
Thigh Left
Thigh Right
Thighs Both
Wrist Left
Wrist Right
Wrists Both

In [63]:
fnl.drop(columns=['created_on_day','created_on_month','xray_type'],inplace=True)

In [66]:
fnl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40125 entries, 0 to 40124
Data columns (total 100 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   created_on_year                  40125 non-null  int64
 1   created_on_converted_to_minutes  40125 non-null  int64
 2   total_time_elapsed_in_minutes    40125 non-null  int64
 3   Friday                           40125 non-null  uint8
 4   Monday                           40125 non-null  uint8
 5   Saturday                         40125 non-null  uint8
 6   Sunday                           40125 non-null  uint8
 7   Thursday                         40125 non-null  uint8
 8   Tuesday                          40125 non-null  uint8
 9   Wednesday                        40125 non-null  uint8
 10  April                            40125 non-null  uint8
 11  August                           40125 non-null  uint8
 12  December                         40125 non-null  uint8
 13  February                         40125 non-null  uint8
 14  January                          40125 non-null  uint8
 15  July                             40125 non-null  uint8
 16  June                             40125 non-null  uint8
 17  March                            40125 non-null  uint8
 18  May                              40125 non-null  uint8
 19  November                         40125 non-null  uint8
 20  October                          40125 non-null  uint8
 21  September                        40125 non-null  uint8
 22  Abdomen                          40125 non-null  uint8
 23  Adenoid                          40125 non-null  uint8
 24  Ankle Left                       40125 non-null  uint8
 25  Ankle Right                      40125 non-null  uint8
 26  Ankles Both                      40125 non-null  uint8
 27  Arm Left                         40125 non-null  uint8
 28  Arm Right                        40125 non-null  uint8
 29  Arms Both                        40125 non-null  uint8
 30  Barium                           40125 non-null  uint8
 31  Chest                            40125 non-null  uint8
 32  Chest AP                         40125 non-null  uint8
 33  Chest Lateral                    40125 non-null  uint8
 34  Chest Left                       40125 non-null  uint8
 35  Chest PA                         40125 non-null  uint8
 36  Chest Right                      40125 non-null  uint8
 37  DRU                              40125 non-null  uint8
 38  Elbow Left                       40125 non-null  uint8
 39  Elbow Right                      40125 non-null  uint8
 40  Elbows Both                      40125 non-null  uint8
 41  Feet Both                        40125 non-null  uint8
 42  Foot Left                        40125 non-null  uint8
 43  Foot Right                       40125 non-null  uint8
 44  Forearm Left                     40125 non-null  uint8
 45  Forearm Right                    40125 non-null  uint8
 46  Forearms Both                    40125 non-null  uint8
 47  Fracture                         40125 non-null  uint8
 48  HSG                              40125 non-null  uint8
 49  Hand                             40125 non-null  uint8
 50  Hand Left                        40125 non-null  uint8
 51  Hand Right                       40125 non-null  uint8
 52  Hands Both                       40125 non-null  uint8
 53  Heel Left                        40125 non-null  uint8
 54  Heel Right                       40125 non-null  uint8
 55  Heels Both                       40125 non-null  uint8
 56  Hip Left                         40125 non-null  uint8
 57  Hip Right                        40125 non-null  uint8
 58  Hips Both                        40125 non-null  uint8
 59  IVP                              40125 non-null  uint8
 60  Knee Left                        40125 non-null  uint8
 61  Knee Right                       40125 non-null  uint8
 62  Knees Both                       40125 non-null  uint8
 63  Kub                              40125 non-null  uint8
 64  Leg Left                         40125 non-null  uint8
 65  Leg Right                        40125 non-null  uint8
 66  Legs Both                        40125 non-null  uint8
 67  Mandible Left                    40125 non-null  uint8
 68  Mandible Right                   40125 non-null  uint8
 69  Mandibles Both                   40125 non-null  uint8
 70  Mastoid Left                     40125 non-null  uint8
 71  Mastoid Right                    40125 non-null  uint8
 72  Mastoids Both                    40125 non-null  uint8
 73  Nasal Bones                      40125 non-null  uint8
 74  Neck                             40125 non-null  uint8
 75  PBH / Hip                        40125 non-null  uint8
 76  PBH / Hip Left                   40125 non-null  uint8
 77  PBH / Hip Right                  40125 non-null  uint8
 78  PBH / Hips Both                  40125 non-null  uint8
 79  Paranasal                        40125 non-null  uint8
 80  Sacroiliac Both                  40125 non-null  uint8
 81  Sacroiliac Left                  40125 non-null  uint8
 82  Sacroiliac Right                 40125 non-null  uint8
 83  Shoulder Left                    40125 non-null  uint8
 84  Shoulder Right                   40125 non-null  uint8
 85  Shoulders Both                   40125 non-null  uint8
 86  Skull                            40125 non-null  uint8
 87  Spine                            40125 non-null  uint8
 88  Spine Cervical                   40125 non-null  uint8
 89  Spine Dorsal                     40125 non-null  uint8
 90  Spine Dorso-Lumbar               40125 non-null  uint8
 91  Spine LS                         40125 non-null  uint8
 92  TM Joint Left                    40125 non-null  uint8
 93  TM Joint Right                   40125 non-null  uint8
 94  Thigh Left                       40125 non-null  uint8
 95  Thigh Right                      40125 non-null  uint8
 96  Thighs Both                      40125 non-null  uint8
 97  Wrist Left                       40125 non-null  uint8
 98  Wrist Right                      40125 non-null  uint8
 99  Wrists Both                      40125 non-null  uint8
dtypes: int64(3), uint8(97)
memory usage: 4.6 MB

In [68]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [69]:
X = fnl.drop(columns='total_time_elapsed_in_minutes')
y = fnl.total_time_elapsed_in_minutes

In [82]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state=42)

In [83]:
print("X_train : {}".format(X_train.shape))
print("X_test : {}".format(X_test.shape))
print("y_train : {}".format(y_train.shape))
print("y_test : {}".format(y_test.shape))

X_train : (32100, 99)
X_test : (8025, 99)
y_train : (32100,)
y_test : (8025,)

In [85]:
LinearReg = LinearRegression()
LinearReg.fit(X_train,y_train)

LinearRegression()

In [97]:
y_pred = LinearReg.predict(X_test)

In [98]:
diff = pd.DataFrame({'Actual test':y_test,'Predicted test':y_pred})
diff

       Actual test  Predicted test
18115           16       67.707276
11667            7      138.929208
30679          828      143.231807
29601           95       85.012047
24224           85      100.296905
...            ...             ...
36131           36      146.393106
1166           170      162.978023
22477           11       48.636518
20745           13       54.414067
17980           44       85.018954

[8025 rows x 2 columns]